.body{
    background-color: aqua;
}

*{ margin: 0; padding: 0;}

header{
    width: 100%;
    height: 100vh;
   
}

nav
{
    float: right;
    margin-right: 30px;
    padding: 10px;
}

a{
    margin-right: 10px;
    text-decoration: none;
}

.leftside{
    margin: 10%;
}

